.workoutPageContent {
  margin-top: 20px;
}

.workoutAddButton {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.workoutOverviewList {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
}

.workoutOverview {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workoutDate {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  font-weight: 500;
}

.activityTitle {
  border-bottom: 1px solid rgb(167, 167, 167);
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 30px;
  text-transform: capitalize;
  font-size: large;
}

.serieList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 10px;
}

.serieWrapper {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
