/* Back button */

.backButtonWrapper {
  border: none;
  display: flex;
  align-items: center;
  background-color: white;
  width: fit-content;
  transition: all 0.1s ease-out;
}

.backButtonWrapper div:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.backButtonWrapper:hover {
  transform: scale(1.05);
}

/* Floating button */

.floatingButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: orange;
  box-shadow: 0 0 25px -5px black;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(184, 184, 184);
  transition: all 0.1s ease-out;
}

.floatingButtonWrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}
